<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}Sortir.com1{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('app.css') }}">
        <link rel="icon" href="{{ asset('img/logosortir.com.png') }}">
    </head>
    <body>
        <div class="container">
            <header>
                <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logosortir.com.png') }}" alt="Sortir.com"></a></h1>
                {% include'inc/nav.html.twig' %}
            </header>

            <main>{% block body %}{% endblock %}</main>

            <footer>
                <p>&copy;Sortir.com | {{ "now"|date("Y") }}</p>
            </footer>
        </div>
    </body>
</html>
